# Windows binaries
*.exe
*.dll

# Archives
*.zip
*.7z
*.rar
*.tar.gz

# Linux binaries
linpeas*
winpeas*
peas*

# VPN
*.ovpn

# Database
*.kdbx

# Logs
*.log
# Secrets
*.ccache
*.kirbi
*.key
*.pfx
*.pem
*.crt

# Firefox credentials
key4.db
logins.json

# Credentials
passwords.txt
hashes*
*.kdbx

# SSH keys
id_rsa
id_ed25519
